
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fefefe;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --primary-color: #222222; /* Pastel color */
  /* --primary-color: #1d1c1a; Pastel color */
  --secondary-color: #ffffff;
 
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.cart-btn {
  font-size: 13px;
  font-weight: 500;
  padding: 9px 30px;
  background-color: var(--primary-color);
  color: #fff;
  display: inline-block;
  /* border: 1px solid transparent; */
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
}
.cart-btn:hover {
  border: 1px solid #e5e5e5;
  color: var(--primary-color);
  background-color: #ffffff;
}



  /* CART QUANTITY
  
  /* CART QUANTITY*/

  
  .input-counter {
    max-width: 140px;
    min-width: 100px;
    text-align: center;
    position: relative;
    max-height: 50px;
    min-height: 50px;
    width: 100%;
  }
  
  .input-counter button {
    place-content: center;
    display: grid;
    background-color: var(--primary-color);
    border-radius: 20%;
    top: 0;
    width: 40px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    line-height: 50px;
    position: absolute;
    padding: 0px 4px;
    color: var(--secondary-color);

  }
  
  .input-counter button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .input-counter button i {
    color: white;
  }
  .input-counter button i:hover {
    color: var(--primary-color);
  }
  
  .input-counter button.minus-button {
    left: 0;
  }
  
  .input-counter button.plus-button {
    right: 0;
  }
  
  .input-counter input {
    outline: 0;
    width: 100%;
    height: 47px;
    display: block;
    text-align: center;
    border: transparent;
    background: transparent;
  }
  
/* Media query to adjust button size on smaller screens (mobile devices) */
@media (max-width: 768px) {
  .input-counter {
    max-width: 100px;
    min-width: 80px;
    max-height: 40px;
    min-height: 40px;
  }

  .input-counter button {
    width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 40px;
  }

  .input-counter input {
    height: 37px;
  }
}
